html,
body,
ul,
li {
    margin: 0; padding: 0;
}

button {
    color: #C7433E; cursor: pointer;
}

input {
    width: 50px;
}
#viewport {
  background: url('../img/larpa.png') no-repeat center;
  background-size: 100%, 100%;
}
#viewport {
    width: 100%; height: 100%; 
}
#viewport {
    list-style: none; width:100%; height: 100%;position: absolute; top: 0; left: 0; box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2); line-height: 300px; text-align: center; font-size: 100px; box-sizing: border-box; cursor: default;
}
#control {
    position: absolute; bottom: 30px; left: 0; right: 0; text-align: center; font-size: 0;
}

#control button {
    background: #FFFFFF; color: #373737; font-weight: bold; border: none; font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; margin: 0 5px; padding: 10px 15px; cursor: pointer; box-shadow: 0 2px 0 #63211F; outline: none; position: relative;
}
#control button:active {
    background: #63211F; color: #FFFFFF; bottom: -2px; box-shadow: none;
}

